[submodule "Lib/SCan"]
	path = Lib/SCan
	url = https://github.com/squadracorsepolito/SCan.git
	branch = build
[submodule "Lib/PCA9555"]
	path = Lib/PCA9555
	url = https://github.com/squadracorsepolito/PCA9555.git
[submodule "Lib/LVGL9/lvgl"]
	path = Lib/LVGL9/lvgl
	url = git@github.com:lvgl/lvgl.git
